@media(max-width: 767px)
{
    .navbar-fixed-top
    {
        padding: 10px 0;
    }

    .header
    {
        height: 466px;
    }

    .header__content
    {
        height: 266px;
        padding-top: 150px;
    }

    .svg-redesignText
    {
        top: 200px;
    }

    .section__video
    {
        height: 466px;
    }

    .video-main
    {
        display: none;

        min-height: 466px;
    }

    .video__case
    {
        height: 466px;

        background-image: url(img/ann.ipg); 
    }

    .form-control
    {
        height: 30px;
    }

    .btn-outline
    {
        font-size: 15px;
        line-height: 30px;

        width: 35px;
        height: 35px;
    }

    .section-heading {
        font-size: 30px;
    }

    .section-text {
        font-size: 17px;
    }
    .section__video{
        height: 466px;

        background-image: url(../img/goit.jpg) !important; 
    }
    .video__case
{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    overflow: visible;

    width: 100%;
    height: 866px;

    text-align: center;
    background-image: url(img/ann.ipg); 
}
}
